body{
  background-color: rgba(112, 128, 144, 0.527);
  display: flex;
  place-items: center;
  justify-content: center;
  min-height:100vh;
  margin: 0;
}


.kzui-select-div{
  position: relative;
}
.kzui-select__clear{
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 25%;
  background-color: transparent;
  border: none;
}
.kzui-cursor{
  cursor: pointer;
  margin: 0px 5px;
  background-color: transparent;
}

.kzui-input-over{
  overflow-x: hidden;
}
.kzui-select-option{
  width: 100%;
  padding: 10px;
}
.kzui-checkbox{
  padding:10px 0px;
}